<div class="content-card">

  <div class="content-card-header">
    <h3>@<%= current_user.username %></h3>
  </div>
  <div class="content-card-content">
    <p>Use the group code bellow to find and join a group.</p>

    <%= form_tag search_groups_path, {class: 'form-inline', method: :get} do %>
        <%= text_field_tag :code, nil, class: 'form-control', placeholder: '#GROUPCODE' %>
        <%= submit_tag 'Find group', class: 'btn btn-primary' %>
    <% end %>
    <br/>

    <% if your_managed_groups.any? %>
        <h4>Managed Groups:</h4>
        <ul>
          <% your_managed_groups.each do |group| %>
            <li><%= link_to group.name, group_path(code: group.code)%></li>
          <% end %>
        </ul>
    <% end %>

    <% if your_groups.any? %>
        <h4>Participating Groups:</h4>
        <ul>
          <% your_groups.each do |group| %>
              <li><%= link_to group.name, group_path(code: group.code)%></li>
          <% end %>
        </ul>
    <% end %>


    <p class="info-box bg-warning">Alternatively, you can also <%= link_to 'create a group', new_group_path %>.</p>
  </div>

</div>