<!DOCTYPE html>
<html>
<head>
  <title>Secret Santa Project</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="main-body">

<%= render 'layouts/navbar' %>

<!-- flash messages -->
<% flash.each do |key, value| %>
    <div class="alert-fix alert alert-<%= alert_type(key) %> alert-dismissible fade in" role="alert">
      <button class="close" aria-label="Close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <%= value %>
    </div>
<% end %>
<div class="container">

  <!-- left side -->
  <div class="col-md-4">
    <%= render 'groups/discover_group' %>
  </div>

  <!-- main content -->
  <div class="col-md-8">
    <div class="content-card">
      <%= yield %>

    </div>
  </div>
</div>


</body>
</html>